In [13]:
import pandas as pd
import random
import os
import numpy as np

from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

np.random.seed(5)

In [14]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [15]:
train_df = pd.DataFrame(train)

In [16]:
train_df['label'] = train_df['class']
train_df

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class,label
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,G G,A A,G G,A G,A A,A A,A A,A A,B,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,G A,A A,A G,A A,G A,G G,A A,A A,C,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,G A,G A,A G,A A,A A,A A,A A,A A,B,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,A A,G G,A G,G G,G G,G G,A A,G G,A,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,G G,A A,A A,A G,A A,G A,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,0,0,0,2,A G,A G,A A,G A,C C,...,G A,A A,G G,A G,G A,A A,A A,A A,B,B
258,TRAIN_258,0,0,0,2,G G,A A,C A,A A,A A,...,G A,A A,A G,A G,A A,A G,A A,G A,C,C
259,TRAIN_259,0,0,0,1,A G,G G,A A,G A,A A,...,G A,G A,A A,G G,G G,G G,C A,G G,A,A
260,TRAIN_260,0,0,0,1,A A,G G,A A,G A,A A,...,A A,G A,A G,A G,G A,G G,C A,G G,A,A
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,A A,A A,G G,A A,A A,G G,A A,G A,B,B

In [17]:
# 현재 가지고 있는 데이터에서, 레이블의 갯수를 확인.
train_df.label.value_counts()

B    114
C     79
A     69
Name: label, dtype: int64

In [18]:
train_df.describe()

       father  mother  gender       trait
count   262.0   262.0   262.0  262.000000
mean      0.0     0.0     0.0    1.736641
std       0.0     0.0     0.0    0.441298
min       0.0     0.0     0.0    1.000000
25%       0.0     0.0     0.0    1.000000
50%       0.0     0.0     0.0    2.000000
75%       0.0     0.0     0.0    2.000000
max       0.0     0.0     0.0    2.000000